@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

.img {
    width: 100px;
}




.conteudo {
    background-image: url(../img/AdobeStock_176970228.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 48px;
    border-top: 0.4px solid rgba(0, 128, 0, 0.411);
}

.conteudo-principal {
    padding: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #0ba360;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(4, 107, 4, 0.822)

}

button {
   
        padding: 1.3em 3em;
        margin: 1.5rem;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
       }
       
       button:hover {
        background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
        box-shadow: 0px 15px 20px #064635;
        color: #fff;
        transform: translateY(-7px);
       }
       
       button:active {
        transform: translateY(-1px);
       }
    
    









.conteudo-principal-imagem {
    

}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
   border-top: 0.4px solid green;
   padding-top: 48px;
   font-family: 'Righteous', cursive;
   font-weight: 400;
   font-size: 24px;
   color: green;
   margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid rgba(0, 128, 0, 0.411);
    font-size: 20px;
    text-align: center;
    font-family: 'Sarala', sans-serif;

}